h1{
    color: blue;
   }
   
   img {
    width: 400px;
   }

   #thirdDiv{
    height: 600px;
    width: 500px;        
    background-color: rgb(0, 11, 128);
    padding: 50px;
    border: 2px solid black;
   }

   #spanId {
    font-size: 18px;
    margin: 50px;
   }